.container {
  background: palevioletred;

  display: grid;
  grid-template-columns:
    60px minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem))
    minmax(6rem, 1fr);
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
}
